body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-align: center;
}
body, html {
    height: 100%;
}
.backdrop {
    background-image: url(pinkblackbackdrop.jpg);
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.window {
    background-color: #f1a7d7;
    width: 85%;
    max-width: 626px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.window h1 {
    font-size: 25px;
    font-weight: 600;
    
}
.window h4 {
    border-bottom: 1px solid;
    padding-bottom: 30px;
    
}
.quiz {
    padding: 20px, 0;
}
.quiz h3 {
    font-weight: 15px;
}
.option {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    width: 100%;
    border: #000 1px solid;
    padding: 10px;
    margin: 10px, 0;
    border-radius: 5px;
    transition: all 0.3s;
}
.option:hover{
    background-color: #e65cb5;
    color: #fff;
}
#next-question {
    font-weight: 500;
    width: 156px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    transition: all 0.3s;
    display: none;
}
#next-question:hover {
    background-color: #33c8fa;
}
